{% extends 'layout.html.twig' %}
{% block content %}   
    <h1>Gestion des produits</h1>
    <a href="{{path('app_admin_produit_register')}}">Vider le formulaire pour ajouter un nouveau produit</a>

    <table class="table" class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Date d'arrivée</th>
            <th>Date de départ</th>
            <th>Id salle</th>
            <th>Prix</th>
            <th>Etat</th>
            <th width="200px"></th>
        </tr>

        {% for produit in produits %}
            <tr>
                <td>{{produit.id}}</td>
                <td>{{produit.dateArrivee|date('Y-m-d')}}</td>
                <td>{{produit.dateDepart|date('Y-m-d')}}</td>
                <td>{{produit.salle}}</td>
                <td>{{produit.prix}}</td>
                <td>{{produit.etat}}</td>
                <td>
                    <a href="{{path('app_admin_produit_register', {"id": produit.id})}}" class="btn btn-primary">Modifier</a>
                    {% if produit.hasCommande is empty %}
                        <a href="{{path('app_admin_produit_delete', {"id": produit.id})}}" class="btn btn-danger">Supprimer</a>
                    {%endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {%endfor%}
    </table>

    <h2>Ajouter un produit</h2>
    {{ form_start(form) }}
    {{form_row(form.dateArrivee)}}
    {{form_row(form.dateDepart)}}
    {{form_row(form.salle)}}
    {{form_row(form.prix)}}
    {{form_row(form.etat)}} 
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

