{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Inscription</h1>
    {{form_start(form)}}
    {{form_row(form.username)}}
    {{form_row(form.lastname)}}
    {{form_row(form.firstname)}}
    {{form_row(form.email)}}
    {{form_row(form.plainPassword)}}
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">Valider</button>
        <a href="{{path('app_admin_category_list')}}" class="btn btn-default">Annuler</a>
    </div>
    {{form_end(form)}}
{% endblock %}

